
<% # -*- coding: utf-8 -*- %>
<% require 'rss' %>
<div class="container">

<% @ary.each do |feed| %>
  <div class="hero-unit">
    <h3><a href="<%= feed.url %>"><%= feed.title %></a></h3>
    <ul>
      <% rss = RSS::Parser.parse(feed.rss) %>
      <% rss.items.each do |item| %>
        <li><a href="<%= item.link %>"><%= item.title %></a></li>
      <% end %>
  </ul>
<form method="post" action="delete_url">
      <button type="submit" class="btn" value="<%= feed.title %>" name="title">
        登録削除</button>
      </form>
 
</div>
<% end %>
</div>
